# ========================
# Java
# ========================
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Eclipse
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
.local
.loadpath
.settings/
bin/
tmp/
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs
*.log

# Build folders
build/
dist/
